header{background:#444;color:#fff;padding:1em;}
header h1{font-size:18px;font-weight:normal;padding:0;margin:0}
header .logo figure{border:1px dashed #bbb;height:52px;width:52px}
header .usuario .avatar{border:1px dashed #bbb;border-radius:50%;height:50px;width:50px}
section{padding:1.2em;}
section article{border:1px solid #444;border-radius:0 0 .8em .8em;overflow:hidden;margin-bottom:1.5em;}
section article figure{background:#444;height:160px;width:120px}
section article h2{font-size:18px;color:#444}
section article .acciones{border-top:3px solid #444}
min-heigth 3em .fecha,padding 0.8em .fecha{position:relative;right:20px}
footer{background:#444;padding:2em;color:#fff}
